{% load i18n %}

<div role="tabpanel" class="tab-pane" id="bio">
    <h3>{% translate 'Bio' %}</h3>
    {{ character_details.description_html|default:"-" }}
    <br>
    <br>
    {% include 'memberaudit/partials/character_viewer/tabs/last_updated.html' with update_section=last_updates.character_details %}
</div>
