{% load i18n %}
{% load humanize %}

<div role="tabpanel" class="tab-pane" id="contacts">
    <h3>{% translate 'Contacts' %}</h3>
    <div class="table-responsive">
        <table class="table table-striped table-width-fix" id="tab_contacts">
            <thead>
                <tr>
                    <th>{% translate 'Standing' %}</th>
                    <th>{% translate 'Name' %}</th>
                    <th>{% translate 'Type' %}</th>
                    <th>{% translate 'Standing Value' %}</th>
                    <th>{% translate 'Watched?' %}</th>
                    <th>{% translate 'Blocked?' %}</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
    {% include 'memberaudit/partials/character_viewer/tabs/last_updated.html' with update_section=last_updates.contacts %}
</div>
