{% load i18n %}

<div role="tabpanel" class="tab-pane" id="loyalty">
    <h3>{% translate 'Loyalty' %}</h3>
    <div class="table-responsive">
        <table class="table table-striped table-width-fix" id="tab_loyalty">
            <thead>
                <tr>
                    <th>{% translate 'Corporation' %}</th>
                    <th>{% translate 'Loyalty Points' %}</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
    {% include 'memberaudit/partials/character_viewer/tabs/last_updated.html' with update_section=last_updates.loyalty %}
</div>
