{% load i18n %}

<div role="tabpanel" class="tab-pane" id="planets">
    <h3>{% translate 'Planets' %}</h3>
    <div class="table-responsive">
        <table class="table table-striped table-width-fix" id="tab_planets">
            <thead>
                <tr>
                    <th>{% translate 'Region' %}</th>
                    <th>{% translate 'System' %}</th>
                    <th>{% translate 'Planet' %}</th>
                    <th>{% translate 'Type' %}</th>
                    <th>{% translate 'Installations' %}</th>
                    <th>{% translate 'Upgrade Level' %}</th>
                    <th>{% translate 'Last Update' %}</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
    {% include 'memberaudit/partials/character_viewer/tabs/last_updated.html' with update_section=last_updates.planets %}
</div>
