{% load i18n %}

<div role="tabpanel" class="tab-pane" id="skills">
    <h3>{% translate 'Skills' %}</h3>
    <div class="table-responsive">
        <table class="table table-striped table-width-fix" id="tab_skills">
            <thead>
                <tr>
                    <th>{% translate 'Group' %}</th>
                    <th>{% translate 'Skill' %}</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
    {% include 'memberaudit/partials/character_viewer/tabs/last_updated.html' with update_section=last_updates.skills %}
</div>
