{% load i18n %}

<div role="tabpanel" class="tab-pane" id="skillqueue">
    <h3>{% translate 'Skill Queue' %}</h3>
    <div class="table-responsive">
        <table class="table table-striped table-width-fix" id="tab_skillqueue">
            <thead>
                <tr>
                    <th>{% translate 'Skill' %}</th>
                    <th>{% translate 'Finished' %}</th>
                    <th>{% translate 'Position' %}</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
    {% include 'memberaudit/partials/character_viewer/tabs/last_updated.html' with update_section=last_updates.skill_queue %}
</div>
