{% load i18n %}

<div role="tabpanel" class="tab-pane active" id="user_compliance">
    <div class="table-responsive">
        <table class="table table-striped table-width-fix" id="tab_user_compliance">
            <thead>
                <tr>
                    <th>{% translate 'User' %}</th>
                    <th>{% translate 'State' %}</th>
                    <th>{% translate 'Organization' %}</th>
                    <th>{% translate 'Registered?' %}</th>
                    <th>{% translate 'Compliant?' %}</th>
                    <th>{% translate 'Total Chars' %}</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
    {% include 'memberaudit/partials/reports/tabs/_compliance_color_code.html' %}
</div>
